body {
  font-family: Arial, sans-serif;
  max-width: 100svw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
  scroll-behavior: smooth;
}

/* Header Styles */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 0;
  transition: background-color 0.5s ease;
}

header.transparent {
  background-color: transparent;
}

header.scrolled {
  background-color: rgba(211, 211, 211, 0.8); /* Light grey transparent */
}

.header-row1,
.header-row2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20%; /* 5% padding on the left */
  padding-right: 20%; /* 5% padding on the right */
}

/* Divider line between rows */
.header-divider {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 10px 0;
}

/* Logo */
.logo img {
  height: 40px;
}

/* Social Icons */
.social-icons a {
  margin-left: 15px;
}

.social-icons img {
  height: 30px;
}

/* Nav Links */
.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.nav-links a:hover {
  color: #78d649;
}

/* Logo container styles */
.logo {
  display: flex;
  align-items: center; /* Vertically center the items */
}

/* Image logo */
.logo img {
  height: 40px; /* Adjust the height of the logo as needed */
  margin-right: 10px; /* Adds space between the image and text */
}

/* ECOFUSION text next to the logo */
.logo span {
  font-size: 1.5rem; /* Adjust font size as needed */
  color: #fff; /* White color for text */
  line-height: 1; /* Ensures the text stays aligned with the logo */
}

/* Login Button */
.login-btn {
  background-color: #78d649;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

.login-btn a {
  text-decoration: none;
  color: white;
}

.section1,
.section2,
.section3,
.section4,
.section5 {
  min-height: 100svh; /* Full screen height without header impact */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.section1 {
  flex-direction: column;
  overflow: hidden;
}

/* Section 1 - Banner */
.section1 {
  background: url("/assets/banner.jpg") no-repeat center center/cover;
}

.section2 {
  background: url("/assets/bg-replace.jpg") no-repeat center center/cover;
}

.section3 {
  background: url("/assets/bg-replace.jpg") no-repeat center center/cover;
}

.section4 {
  background: url("/assets/bg-replace.jpg") no-repeat center center/cover;
}

.section5 {
  background: url("/assets/bg-replace.jpg") no-repeat center center/cover;
}

.banner-content {
  width: 25svw;
}

.banner-content h1 {
  font-size: 3rem;
  margin-top: 720px;
  text-align: center;
  color: #fff;
}

.banner-content p {
  font-size: 1.2rem;
  color: #fff;
}

.banner-slider {
  background: url("/assets/logo_run_ribon.jpg") no-repeat center center/cover;
  height: 10svh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  bottom: -10px;
  left: 0px;
}

.logos {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.section5 {
  flex-direction: column;
  gap: 50px;
}

.section5 .logo {
  display: flex;
  flex-direction: column;
}

.ft-content .social {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.ft-content p {
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.ft-content {
  border: 1px solid rgba(198, 253, 45, 1);
  padding: 50px 200px 80px 200px;
}

.description {
  display: flex;
  flex-direction: row;
  color: #fff;
}

.section4 {
  flex-direction: column;
  color: #fff;
}

.coin-section-detail {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40svw;
  align-items: center;
  width: 90svw;
  margin-top: 100px;
}

.coin-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 10px;
}

.coin-logo {
  border: 1px solid rgba(198, 253, 45, 1);
}

.cards {
  width: 70svw;
  display: flex;
  flex-direction: column;
}

.card-1,
.card-2,
.card-3 {
  border: 1px solid rgba(198, 253, 45, 1);
  display: flex;
  flex-direction: row;
  margin: 10px;
  min-height: 250px;
  align-items: center;
  padding-left: 20px;
}

.coin-section-description {
    margin-bottom: 100px;
}

.coin-section-description-detail {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  text-align: left;
  line-height: 20px;
  padding-left: 30px;
}

button {
  background-image: linear-gradient(
    to right,
    #84fab0 0%,
    #8fd3f4 51%,
    #84fab0 100%
  );
  width: 200px;
  height: 50px;
}

.section2 {
  flex-direction: column;
}

.section-2-content-1 {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
}

.content1 {
  max-width: 300px;
  margin-top: 50px;
  padding-right: 50px;
  text-align: left;
  line-height: 25px;
}

.infos {
  display: flex;
  flex-direction: column;
}

.info-1,
.info-2,
.info-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content3 {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  max-width: 500px;
  line-height: 30px;
  gap: 30px;
  margin-top: 30px;
}

.section-2-content-2 {
  display: flex;
  flex-direction: row;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-bottom: 100px;
}

.content .content-1 {
  display: flex;
  flex-direction: row;
}

.section-2-content-2 .content-1 {
  text-align: left;
  padding-left: 100px;
  width: 20svw;
  padding-right: 50px;
  line-height: 25px;
}

.vision {
  margin-top: 30px;
  margin-left: 30px;
}

.mission {
  background: linear-gradient(
    0deg,
    rgba(213, 238, 113, 1) 0%,
    rgba(123, 226, 200, 1) 14.44%
  );
  padding: 10px;
  margin-top: 30px;
}

.ecosystem {
  width: 90svw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.left-description {
  text-align: left;
  margin-right: 50px;
}

.right-description {
  border: 1px solid rgba(198, 253, 45, 1);
  width: 600px;
  text-align: left;
  padding: 30px;
  margin-left: 100px;
}

.cards-container {
  display: flex;
  flex-direction: column;
  width: 70svw;
  margin-bottom: 100px;
}

.cards-container .row-1,
.cards-container .row-2 {
  display: flex;
  flex-direction: row;
}

.card {
  border: 1px solid rgba(198, 253, 45, 1);
  margin: 20px;
  padding: 20px;
  min-width: 300px;
  color: #fff;
  line-height: 30px;
  text-align: left;
}

.card .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card .header img {
  width: 50px;
  height: 50px;
}

.card .content {
  margin-bottom: 30px;
}

.types {
  height: 400px;
  background: url("/assets/logo_run_ribon.jpg") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: black;
}

.nft-cards {
  display: flex;
  width: 80svw;
  flex-direction: row;
}

.nft-card {
  border: 1px solid rgba(198, 253, 45, 1);
  text-align: center;
  margin: 10px;
  padding: 20px;
}

.slide img {
  width: 60px;
  height: 60px;
  animation: scroll 60s linear infinite;
}

.slide-track {
  width: 30%;
  display: flex;
  gap: 3em;
  overflow: hidden;
}

.slider {
  margin-top: 70px;
  background: url("/assets/logo_run_ribon.jpg") no-repeat center center/cover;
  padding: 2.5em 1em;
  display: flex;
  justify-content: center;
}

@keyframes scroll {
  0% {transform: translateX(0);}
  100% {transform: translatex(-1000%)}
}